@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFont';
  src: url('./assets/fonts/ProductSans-Regular.woff'), format('woff');
}


:root {
  font-family: 'CustomFont';
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

